/*VIDEO COMMENT*/
.thumbnail {
  width: 100%;
  /*height:300px;
  object-fit: contain;
  object-position: center;
  border-width: 2px;
  border-style: solid;
  border-color: red;*/
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display:grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-container {
  display: inline-block;
  position: relative;
}

.channel-tooltip {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 200px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.3);

  position: absolute;
  top: 55px;
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.channel-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-picture-tooltip {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 8px;
}

.channel-name-tooltip {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-subscribers-tooltip {
  font-size: 14px;
  color: rgb(96,96,96);
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author ,
.video-stats {
  font-size: 12px;
  color:rgb(96,96,96)
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}